@model JewelryListViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (User.IsInRole(JewelryShop.RL.Customer) || !SignInManager.IsSignedIn(User))
{
    <!-- Start Slider Area -->
    <div class="slider__container slider--one">
        <div class="slider__activation__wrap owl-carousel owl-theme">
            <!-- Start Single Slide -->
            <div class="slide slider__full--screen" style="margin-top:130px;height:500px;background: rgba(5, 0, 0, 0) url(\\Images\\11.jpg) no-repeat scroll center center/ cover ;">

                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">
                            <div class="slider__inner">
                                <h1>Chào Mừng Bạn Đến Với<span class="text--theme">Jewelry Shop</span></h1>
                                <div class="slider__btn">
                                    <a class="htc__btn" asp-controller="Home" asp-action="Index">Mua hàng ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slide -->
            <!-- Start Single Slide -->
            <div class="slide slider__full--screen" style="margin-top:130px;height:500px;background: rgba(67, 0, 0, 0) url(\\Images\\12.jpg) no-repeat scroll center center / cover ;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                            <div class="slider__inner">
                                <!----<h1>Chào Mừng Bạn Đến<span class="text--theme">Jewelry Shop</span></h1>-->
                                <div class="slider__btn">
                                    <!----<a class="htc__btn" href="cart.html">Mua hàng ngay</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slide -->
        </div>
    </div>
    <!-- End Slider Area -->
    <!-- Start Our Product Area -->
    <section class="htc__product__area ptb--130 bg__white">
        <div class="container">
            <div class="htc__product__container">
                <!-- Start Product MEnu -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="product__menu">
                            <button data-filter=".cat--1">Kết Quả Tìm Kiếm Cho @Model.CurrentCategory</button>
                        </div>
                    </div>
                </div>
                <!-- End Product MEnu -->

                <div class="row product__list">
                    <!-- Start Single Product -->
                    @foreach (var jewelry in Model.Jewelries)
                    {
                        <partial name="_jewelryCard" model="jewelry" />
                    }
                </div>

            </div>
        </div>
        <br /><br />
        <div class="container">
            <div class="col-md-12 col-md-offset-6" style="text-align:right">
                <!-- items being paged -->
                <!-- pager -->
                @if (Model.Pager.EndPage > 1)
                {
                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li>
                                <a href="~/Jewelry/Search?searchString=@Model.CurrentCategory">&lt;&lt;</a>
                            </li>
                            <li>
                                <a href="~/Jewelry/Search?page=@(Model.Pager.CurrentPage - 1)&&searchString=@Model.CurrentCategory">&lt;</a>
                            </li>
                        }

                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                        {
                            <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                                <a href="~/Jewelry/Search?page=@(page)&&searchString=@Model.CurrentCategory">@(page)</a>
                            </li>
                        }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li>
                                <a href="~/Jewelry/Search?page=@(Model.Pager.CurrentPage + 1)&&searchString=@Model.CurrentCategory">&gt;</a>
                            </li>
                            <li>
                                <a href="~/Jewelry/Search?page=@(Model.Pager.TotalPages)&&searchString=@Model.CurrentCategory">&gt;&gt;</a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </section>

}
@if (User.IsInRole(JewelryShop.RL.Admin))
{
    <section class="htc__product__area ptb--130 bg__white">
        <header>
            <section class="htc__product__area ptb--130 bg__white">
                <div class="container text-center">
                    <h1 class="text-danger">Giao diện Admin</h1>
                </div>
            </section>
        </header>
    </section>
}