@model IEnumerable<Category>

@foreach (var category in Model)
{
    
    <li><a asp-controller="Jewelry" asp-action="List" asp-route-category="@category.CategoryName">@category.CategoryName</a></li>
    
   
}
