@page
@using JewelryShop.Controllers;
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
    <section class="htc__product__area ptb--130 bg__white">
        <header>
            <section class="htc__product__area ptb--130 bg__white">
                <div class="container text-center">
                    <h1 class="text-danger">@ViewData["Title"]</h1>
                    <p class="text-danger">Bạn không thể truy cập chức năng này!!!</p>
                </div>
            </section>
        </header>
        </section>
