@page
@model LockoutModel
@{
    ViewData["Title"] = "Tài khoản bị khóa";
}
<section class="htc__product__area ptb--130 bg__white">
    <header>
        <section class="htc__product__area ptb--130 bg__white">
            <h1 class="text-danger text-center">@ViewData["Title"]</h1>
            <p class="text-danger text-center">Tài khoản của bạn đã bị khóa.Xin vui lòng thử lại sau!!!</p>
            </section>
    </header>
</section>
